asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.2
django-ckeditor==6.5.1
django-js-asset==2.0.0
heroku==0.1.4
idna==3.4
Pillow==9.5.0
python-dateutil==1.5
requests==2.31.0
sqlparse==0.4.4
urllib3==2.0.3
