{% extends 'blogs/base.html' %}
{% block title %} Register {% endblock %}

{% block content %}

<br/>
<div style = "text-align:center; color:green;"> 
<h1> Register Here. </h1>
</div>

<div class ="col-md-6 offset-md-3">
<form method = 'POST'>
    {% csrf_token %}
    {{ form.as_p }}  
    <div style = "text-align:center;">
        <button class="btn btn-success">Register</button>
    </div>

    <br/>


    <div class ="col-md-6 offset-md-3">
    <small class="text-muted">
        <strong>Already a member?</strong> <a class = "ml-2" href ="{% url 'login' %}">Login</a>
      </small>

    </div>
</form>
</div>

{% endblock %}